.air-container {
    display: grid;
    text-align: center;
    justify-items: center;
    margin-top: 20px;
}

.air-component-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    width: 80%;
    margin-top: 20px;
}

.air-title {
    font-size: 38px;
    font-weight: bold;
    color: white;
    font-family: cnFont;
    margin: 20px 0;
    color: rgb(135, 70, 70);
}

.air-weekday {
    font-size: 18px;
}

.air-count {
    font-size: 14px;
    margin-left: 10px;
}

.air-item-img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.air-item-wrap  {
    margin-bottom: 20px;
}

.air-item-name {
    color: rgb(135, 70, 70);
    font-size: 15px;
    margin: 0;
}
