@font-face {
    font-family: cnFont;
    src: url('../font/FZLTCXHJW.TTF');
  }

body {
    background-color: #e0c9cb;
}

.card-container {
    display: flex;
    width: 1000px;
    height: 550px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.3), 5px 5px 15px rgba(186, 126, 126, 0.2);
    border-radius: 20px;
    padding: 0 50px;
    font-family: 'SF Pro SC','SF Pro Display','PingFang SC','Lucida Grande','Helvetica Neue',Helvetica,Arial,Verdana,sans-serif,"Hiragino Sans GB";
    /* padding-top: 35px; */
    align-items: center;
}

.card-image {
    width: 300px;
    height: auto;  
    margin-right: 40px;
    box-shadow: 2px 6px 7px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.title {
    font-weight: bold;
    font-size: 28px;
    margin-top: 0;
    color: rgb(220, 148, 148);
}

.description {
    line-height: 1.7em;
    font-size: 15px;
    color: rgb(148, 109, 109);
}

.summary {
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    font-size: 15px;
    font-family: cnFont;
    font-weight: bold;
    color: rgb(160, 124, 123);
}

.summary-icon {
    width: 25px;
    height: auto;
}

.summary-item-wrap {
    text-align: center;
}

.collection-container {
    display: flex;
}

.collection-container p {
    margin-right: 10px;
    padding: 15px 10px;
    border-radius: 10px;
    color: white;
    font-family: cnFont;
    font-weight: bold;
}

.wish {
    background-color: #ffadd1;
}

.collect {
    background-color: #87b3cb;
}

.doing {
    background-color: #ffadad;
}

.on-hold {
    background-color: #d3adff;
}

.dropped {
    background-color: #7e7e7e;
}

.next-card {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: cnFont;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #ffadad;
    margin-bottom: 10px;
    color: #ffadad;
    font-weight: bold;
}

.next-card:focus {
    outline: none;
}

