@font-face {
  font-family: cnFont;
  src: url('../font/FZLTCXHJW.TTF');
}

.search-box-wrap {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}

.search-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  top: 18px;
}

.search-box {
  width: 800px;
  height: 60px;
  font-size: 20px;
  font-family: cnFont;
  border: none;
  border-radius: 50px;
  padding: 0 70px;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

.search-box:focus {
  outline: none;
  box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.3),
    5px 5px 15px rgba(186, 126, 126, 0.2);
  width: 1000px;
  height: 70px;
  font-size: 25px;
}

.search-result-wrap {
  margin: 150px 50px 100px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-items: center;
}

.search-item {
  width: 300px;
  margin: 10px 0;
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(182, 141, 141); */
  padding: 15px 10px;
  border-radius: 20px;
}

.search-item p {
  margin: 0;
}

.search-poster {
  width: 200px;
  height: auto;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 20px 10px 10px 10px;
}

.heading-type {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.type-icon {
  width: 25px;
  height: 25px;
}

.search-name {
  color: rgb(220, 148, 148);
  font-size: 20px;
  padding-left: 20px;
}

.search-rank {
  background-color: rgb(220, 148, 148);
  color: white;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px 5px;
}

.search-rank-text {
  font-size: 15px;
}

.search-subname {
  font-size: 12px;
  color: #999999;
  margin-left: 20px;
}

.search-info-wrap {
  display: flex;
  font-size: 14px;
  color: rgb(148, 109, 109);
  margin: 0;
}

.search-item-icon {
  width: 18px;
  height: 18px;
  margin: 0 10px 10px 10px;
}
